body{
    background-color: #EDF4ED;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.titulo_cadastro_adm{
    font-weight: bold;
    font-size: larger;
    padding: 5px;
}

.container-cadastro-adm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 17px;
}

.inserir_dados{
    background-color: #79B791;
    color: #EDF4ED;
    padding: 25px;
    border-radius: 20px;
}

.input_dados_cadastrais{
    width: 96%;
    height: 30px;
    padding: 5px;
    padding-left: 7px;
    font-size: 15px;
    box-shadow: none;
    border: none;
    outline: 0;
    border-radius: 5px;
}

.cadastro_email_adm{
    background-color: white;
    border-radius: 5px;
}

.senha_status{
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
}

.input-wrapper {
    position: relative;
    display: block;
}

.input-wrapper input.input_dados_cadastrais {
    display: flex;
    width: 100%;
    padding-right: 8px;
    box-sizing: border-box;
}

.input-wrapper .status {
    position: relative;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 10px;
    pointer-events: none;
}

#status_password {
    font-size: 15px;
    margin-right: 10px;
    padding-left: 3%;
}

#status_confirmacao_password {
    font-size: 15px;
    margin-right: 10px;
    padding-left: 3%;
}

.button_cadastrar_adm{
    padding-top: 25px;
}

.botao_cadastrar{
    width: 100%;
    padding: 4%;
    border: none;
    background-color: #EDF4ED;
    font-weight: bold;
}

.botao_cadastrar:hover{
    transition: 0.5s;
    background-color: #51291E;
    color: white;
    font-weight: bold;
    cursor: pointer;
}