* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: #edf4ed;
  color: #51291e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background-color: #abd1b5;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  width: 100%;
  max-width: 400px;
}

.nav_bar_login h2 {
  font-size: 28px;
  color: #51291e;
}

.login-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #edf4ed;
  color: #51291e;
  font-size: 16px;
}

.class_button input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #edf4ed;
  color: #51291e;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.class_button input[type="submit"]:hover {
  transition: 1s;
  background-color: #51291e;
  color: #edf4ed;
}

.nav_bar_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.nav_bar_login a {
  color: #edf4ed;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.nav_bar_login a:hover{
  transition: 1s;
  color: #51291e;
}
