body{
    background-color: #EDF4ED;
    margin: 0%;
 }

.container-admPage{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* SIDEBAR DA ESQUERDA */
.sidebar_esquerda{
    background-color: #282727;
    color: white;
    font-size: 12px;
    width: 15%;
    height: 100vh;
    justify-content: center;
}

.header_titulo{
    background-color: #499767;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    width: 33vb;
    height: 9vh;
    font-size: 15px;
    overflow: hidden;
    user-select: none;
}

.header_titulo h2:hover{
    color: white;
    transition: 2s;
}

.p_usuario_administrador{
    margin: 0%;
    padding: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
    user-select: none;
}

.titulo_menu_navegacao{
    background-color: #1a1a1a;
    color: gray;
}

.titulo_menu_navegacao p{
    margin: 0%;
    padding: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logout{
    margin: 0%;
    padding: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.logout button{
    background-color: #499767;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    width: 90%;
    height: 6vh;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
}

.logout button:hover{
    background-color: #79B791;
    transition: 1s;
}


/* MENU PRINCIPAL */
.menu_principal{
    display: flex;
}

.header_menu_principal{
    background-color: #79B791;
    display: flex;
    width: 100vw;
    height: 9vh;
}