*{
  font-family: 'Times New Roman', Times, serif;
}

body{
  background-color: #000000cc;
  color: #51291e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
} body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/DailyGreen-Project/IMAGES/BACKGROUNDs/florest-4.jpg);
  background-size: auto;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.login-container{
  background-color: #abd1b5;
  padding: 40px;
  border: #51291e solid 2px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 8px #000000cc;
  transition: 0.2s;
} .login-container:hover{
  padding: 45px;
  border: #51291e solid 5px;
  transition: 0.3s;
}

.login-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.login-container input {
  border: transparent solid 0px;
  border-radius: 5px;
  background-color: #edf4ed;
  color: #51291e;
  font-size: 16px;
  transition: 0.3s;
} .login-container input:hover {
  border-bottom: #51291e solid 0.8vh;
  box-shadow: 0 2px 8px #00000022;
  transition: 0.5s;
} .login-container input:focus {
  outline: none;
  border: #51291e solid 0.3vh;
  border-bottom: #51291e solid 0.8vh;
  border-radius: 10px;
  transition: 0.3s;
}

.nav_bar_login{
  display: flex;
  font-weight: bold;
  font-size: larger;
  padding-left: 20px;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.nav_bar_login a{
  text-decoration: none;
  color: #EDF4ED;
  font-size: 15px;
}

.nav_bar_login a:hover{
  color: #51291E;
}

.campoInserirDados{
  width: 97%;
  height: 30px;
  padding: 5px;
  padding-left: 7px;
  font-size: 15px;
  box-shadow: none;
  border: none;
  outline: 0;
  border-radius: 5px;
}

.botaoLogar{
  width: 100%;
  padding: 4%;
  border: none;
  background-color: #EDF4ED;
  color: #51291E;
  font-weight: bold;
  border-radius: 5px;
}

.botaoLogar:hover{
  transition: 0.5s;
  background-color: #51291E;
  color: #EDF4ED;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}