*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-admPage {
    display: flex;
}

/* SIDEBAR DA ESQUERDA */
.sidebar_esquerda{
    background-color: #2d2c2c;
    color: #ffffff;
    font-size: 12px;
    width: 15vw;
    height: 100vh;
    justify-content: center;
    z-index: 2000;
    position: fixed;
}

/* TITULO DAILYGREEN */
.header_titulo{
    background-color: #499767;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    width: 15vw;
    height: 9vh;
    font-size: 15px;
    overflow: hidden;
    user-select: none;
}

.letter{
    font-weight: bold;
    font-size: 25px;
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.letter.visible{
    opacity: 1;
    transform: translateY(0);
}

.letter.out{
    opacity: 0;
    transform: translateY(100px);
}

/* BOAS-VINDAS (NOME DO ADM) */
.name_user_adm{
    margin: 0%;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 7%;
    align-items: center;
    justify-content: center;
    display: flex;
    user-select: none;
    font-size: 13px;
    gap: 2px;
}

/* MENU NAVEGAÇÃO */
.btn_menu{
    background-color: #1a1a1a;
    color: #808080;
    border: none;
    outline: none;
    width: 100%;
    padding: 7%;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
    gap: 5px;
}

.menu_navegacao {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

/* BOTÕES MENU NAVEGAÇÃO */
.btn-list button{
    background-color: #1a1a1a;
    color: #808080;
    border-top: 0.5px solid #79B791;
    border-bottom: 0.5px solid #79B791;
    border-left: none;
    border-right: none;
    outline: none;
    width: 15vw;
    padding: 10px;
    justify-content: center;
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
} .btn-list button:hover {
    background-color: #79B791;
    color: #51291E;
    transition: 0.5s;
} .btn-list :active {
    background-color: #357d3a;
}

/* BOTÃO LOGOUT */
.logout{
    margin: 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    max-width: 100%;
    width: inherit;
    position: absolute;
    bottom: 20px;
}

.logout button{
    display: flex;
    background-color: #499767;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 6vh;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
}

.logout button:hover{
    background-color: #79B791;
    transition: 1s;
}


/* MENU PRINCIPAL */

.header_menu_principal {
    height: 9.2vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #79B791;
    z-index: 1000;
}


/* BOTOES PAGINA INICIAL */
.menu_principal {
    position: absolute;
    top: 9.2vh;
    left: 15vw;
    width: calc(100vw - 15vw);
    height: calc(100vh - 9.2vh); 
    overflow-y: auto;
    list-style-type: none;
    padding: 2%;
    box-sizing: border-box;
}

.all-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100vw - 15vw);
    max-height: calc(100vh - 9.2vh); 
    gap: 3vw;
}

.button-row{
    display: flex;
    gap: 3vw;
}

.btn-users-list,
.btn-report-list,
.btn-suspenso-list,
.btn-banido-list {
    border: none;
    position: relative;
    width: 400px;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    background-color: #b3bbb6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.btn-users-list:hover,
.btn-report-list:hover,
.btn-suspenso-list:hover,
.btn-banido-list:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #888;
    z-index: 2;
    transition: color 0.3s;
}

.btn-users-list:hover .card-content{
    color: #73b7fc;
}

.btn-report-list:hover .card-content{
    color: #ffe25f;
}

.btn-suspenso-list:hover .card-content{
    color: #ffa45f;
}

.btn-banido-list:hover .card-content {
    color: #f95b5b;
}

.background-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.7);
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s;
}


.btn-users-list:hover .background-card,
.btn-report-list:hover .background-card,
.btn-suspenso-list:hover .background-card,
.btn-banido-list:hover .background-card {
    opacity: 1;
}

.card-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}

.no-records{
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}



/* LISTA DE USUARIOS */
.buttons-post-user{
    width: 100%;
}

.action-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-back,
.btn-suspender,
.btn-banir {
    font-size: 18px;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.btn-back:focus:after,
.btn-suspender:focus:after,
.btn-banir:focus:after,
.btn-back:hover:after,
.btn-suspender:hover:after,
.btn-banir:hover:after {
    width: 100%;
    left: 0%;
}

.btn-back:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: #000000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.user {
    display: flex;
    width: 70rem;
    height: 8rem;
}

.lista-usuarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 100%;
}

.container-user {
    display: flex;
    flex-direction: row;
    isolation: isolate;
    position: relative;
    width: 80rem;
    background: #29292c;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #31beff, #0091ff, #3161ff);
    --color: #32a6ff;
    cursor: pointer;
}

.container-user:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: rgba(52, 73, 94, 0.7);
    z-index: 2
}

.container-user:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
}

.container-user:hover:after {
    transform: translateX(0.15rem)
}

.container-user:active{
    background: #5b5b63;
}

.user-avatar {
    font-weight: 500;
    font-size: 1.1rem;
    color: #f6f62e;
    transition: transform 300ms ease;
    z-index: 5;
}

.container-user:hover .user-avatar {
    transform: translateX(0.15rem);
}

.user-info {
    display: flex;
    color: #EDF4ED;
    width: 70rem;
    height: 100%;
    padding: 0 1.50rem;
    transition: transform 300ms ease;
    z-index: 5;
}

.container-user:hover .user-info {
    transform: translateX(0.25rem);
}

.container-user:hover .show-user-posts{
    transform: translateX(0.25rem);
    transition: transform 300ms ease;
    z-index: 30;
}

.efect-user,
.border-user {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side at center, white, transparent);
    opacity: 0;
    transition: opacity 300ms ease;
}

.efect-user {
    z-index: 3;
}

.border-user {
    z-index: 1;
}

.container-user:hover .efect-user,
.container-user:hover .border-user {
    opacity: 0.1;
}

.username,
.email,
.create-time {
    display: flex;
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;
    flex-direction: column;
    align-items: flex-start;
    color: #75c0f9;
}

.dados-user,
.user-img {
    display: flex;
    align-items: center;
    height: 100%;
}

.user-name,
.user-email,
.user-creation-time {
    color: #EDF4ED;
}

.btn-show-post{
    display: flex;
    margin-right: 2rem;
}

.show-user-posts{
    display: flex;
    align-items: center;
}

.show-perfil {
    background: #3161ff;
    color: white;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 12px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    width: 9rem;
    cursor: pointer;
    z-index: 30;
}

.show-perfil .arrow {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
    display: flex;
    z-index: 30;
}

.show-perfil:hover .arrow {
    width: calc(100% - 0.6em);
    z-index: 30;
}

.show-perfil .arrow svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.show-perfil:hover .arrow svg {
    transform: translateX(0.1em);
}

.show-perfil:active .arrow {
    transform: scale(0.95);
}



/* POSTS DOS USUARIOS */
.title {
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #0091ff;
}

.title::before {
    width: 18px;
    height: 18px;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #0091ff;
}


@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}





/* LISTA DE DENUNCIAS */

.lista-reports {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 100%;
}

.container-report {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    justify-content: center;
    width: 70rem;
    height: 10rem;
    background: #29292c;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #fcff31, #fff200, #ffc831);
    --color: #32a6ff
}

.container-report:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: rgba(52, 73, 94, 0.7);
    z-index: 2
}

.container-report:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
}

.container-report:hover:after {
    transform: translateX(0.15rem)
}

.table-list-report {
    display: flex;
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-size: 1.1rem;
    color: #EDF4ED;
    transition: transform 300ms ease;
    z-index: 5;
}

.container-report:hover .table-list-report {
    transform: translateX(0.15rem);
}

.efect-report,
.border-report {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side at center, white, transparent);
    opacity: 0;
    transition: opacity 300ms ease;
}

.efect-report {
    z-index: 3;
}

.border-report {
    z-index: 1;
}

.container-report:hover .efect-report,
.container-report:hover .border-report {
    opacity: 0.1
}

.table-report{
    width: 100%;
    height: 100%;
}

.report-id,
.titulo,
.data,
.motivo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.report-id {
    color: #fff200;
}

.denuncia-status,
.button-analyse {
    display: flex;
    justify-content: center;
    
}

.colunm-head-report-status{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.denuncia-status,
.status-pendente,
.status-em-analise,
.status-resolvida,
.status-arquivada {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 25px;
    border-radius: 20px;
    font-size: 15px;
}

.status-pendente{
    background-color: #f4c0c0d2;
    color: #933939;
}

.status-em-analise{
    background-color: #ffef9ed2;
    color: #8d9339;
}

.status-resolvida{
    background-color: #c0f4c6d2;
    color: #399354;
}

.status-arquivada{
    background-color: #d7d8d7d2;
    color: #7a7b7a;
}

.btn-analyse,
.analyse-suspend,
.analyse-ban {
    width: 150px;
    height: 40px;
    font-size: 12px;
    cursor: pointer;
    background-color: #171717;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: all .4s;
    flex-shrink: 0;
}

.btn-analyse:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f2e85d,
    0 15px 0 -4px #51291E,
    0 16px 10px -3px #EDF4ED;
}

.btn-analyse:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f2e644,
    0 8px 0 -4px #51291E,
    0 12px 10px -3px #EDF4ED;
}




/* LISTA SUSPENSOS */
.list-suspends {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 100%;
}

.container-suspend {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    justify-content: center;
    width: 70rem;
    height: 10rem;
    background: #29292c;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #ffcf31, #ff9900, #ff8a31);
    --color: #32a6ff
}

.container-suspend:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: rgba(52, 73, 94, 0.7);
    z-index: 2;
}

.container-suspend:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
}

.container-suspend:hover:after {
    transform: translateX(0.15rem)
}

.table-list-suspend {
    display: flex;
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-size: 1.1rem;
    color: #EDF4ED;
    transition: transform 300ms ease;
    z-index: 10;
}

.container-suspend:hover .table-list-suspend {
    transform: translateX(0.15rem);
}

.efect-suspend,
.border-suspend {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side at center, white, transparent);
    opacity: 0;
    transition: opacity 300ms ease;
}

.efect-suspend {
    z-index: 3;
}

.border-suspend {
    z-index: 1;
}

.container-suspend:hover .efect-suspend,
.container-suspend:hover .border-suspend {
    opacity: 0.1
}

.table-suspend{
    width: 100%;
    height: 100%;
}


.user-suspend-id,
.user-suspend,
.inicio_suspensao,
.fim_suspensa,
.suspend-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-suspend-id{
    color: #ff9900;
}

.motivo-suspend{
    display: flex;
    flex-direction: column;
    text-align: left;
    word-break: break-word;
    overflow-wrap: anywhere;
    margin-right: 5px;
}

.analyse-suspend{
    margin-left: 20rem;
}

.analyse-suspend:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #fcb234,
    0 15px 0 -4px #51291E,
    0 16px 10px -3px #EDF4ED;
}

.analyse-suspend:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #fcb234,
    0 8px 0 -4px #51291E,
    0 12px 10px -3px #EDF4ED;
}




/* USUARIOS SUSPENSOS INFO */
.hide-report-container {
    width: 100%;
    overflow: hidden;
    border: 1px solid #51291E;
    border-radius: 8px;
    transition: height 1s ease;
}

.header-hide-report {
    background-color: #79b791;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seta {
    transition: transform 1s ease;
}

.seta.girada {
    transform: rotate(180deg);
}

.info-suspend-report,
.info-ban-report {
    max-height: 0;                    
    overflow: hidden;               
    transition: max-height 1s ease;
    border-top: 1px solid #51291E;
}

.hide-report-container.aberto .info-suspend-report {
    max-height: 500px; 
    padding: 10px;   
}

.hide-report-container.aberto .info-ban-report{
    max-height: 500px; 
    padding: 10px;   
}

.th{
    text-align: left;
}




/* LISTA BANIDOS */
.list-bans {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 100%;
}

.container-ban {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    justify-content: center;
    width: 70rem;
    height: 10rem;
    background: #29292c;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #fda1a1, #ff7676, #fc0000);
    --color: #32a6ff
}

.container-ban:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: rgba(52, 73, 94, 0.7);
    z-index: 2;
}

.container-ban:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
}

.container-ban:hover:after {
    transform: translateX(0.15rem)
}

.table-list-ban {
    display: flex;
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-size: 1.1rem;
    color: #EDF4ED;
    transition: transform 300ms ease;
    z-index: 10;
}

.container-ban:hover .table-list-ban {
    transform: translateX(0.15rem);
}

.efect-ban,
.border-ban {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side at center, white, transparent);
    opacity: 0;
    transition: opacity 300ms ease;
}

.efect-ban {
    z-index: 3;
}

.border-ban {
    z-index: 1;
}

.container-ban:hover .efect-ban,
.container-ban:hover .border-ban {
    opacity: 0.1
}

.table-ban{
    width: 100%;
    height: 100%;
}

.user-ban, .id-ban{
    display: flex;
}

.ban-user{
    color: #EDF4ED;
}

.inicio_ban {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.id-ban, .user-ban {
    color: #ff7c7c;
}

.analyse-ban:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #ff2f2f,
    0 15px 0 -4px #51291E,
    0 16px 10px -3px #EDF4ED;
}

.analyse-ban:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #ff2f2f,
    0 8px 0 -4px #51291E,
    0 12px 10px -3px #EDF4ED;
}



/* ANALISE DENUNCIAS */
legend{
    background-color: #79b791;
    padding: 0.5em;
    border: none;
    border-radius: .6rem;
    font-size: 13px;
    font-weight: bold;
}

.legend-adm{
    background-color: #29292c;
    color: #EDF4ED;
}

.no-data-end{
    background-color: #ffef9ed2; 
    border-radius: 5px;
    height: 30px;
    text-align: center;
}

fieldset{
    padding: 10px;
}


.relator-informacoes{
    display: flex;
}

.img-relatado,
.img-relator{
    margin: 5px;
    margin-left: 5px;
}

.dados-adm {
    width: 100%;
}

.dados-relator,
.dados-relatado{
    display: flex;
    width: 50rem;
}

.info-relatado,
.info-relator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3%;
}

.decision{
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.back-to-listReport,
.archive,
.suspend,
.ban{
    border: none;
    outline: none;
    width: 20%;
    height: 40px;
    background-color: rgba(52, 73, 94, 0.7);
    color: #EDF4ED;
    border-radius: 15px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.back-to-listReport:hover{
    transition: 1s;
    background-color: #79b791;
    color: #171717;
}

.archive:hover{
    transition: 1s;
    background-color: #ffe25f;
    color: #171717;
}

.suspend:hover{
    transition: 1s;
    background-color: #ffa45f;
    color: #171717;
}

.ban:hover{
    transition: 1s;
    background-color: #f95b5b;
    color: #171717;
}




/* FORM DECISÕES DA DENUNCIA */
.formulario-arquivar,
.formulario-suspenso,
.formulario-banido{
    display: none;
    position: fixed;
    z-index: 999;
    left: 0; top: 0;
    width: 100vw;
    height: 100vh;
    background: #000000cc;
    align-items: center;
    justify-content: center;
    font-size: 17px
}

.modal_decisao{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EDF4ED;
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    position: relative;
    overflow: hidden;
}

.modal_decisao::before{
    position: absolute;
    content: "";
    width: 120%;
    height: 100%;
    background-color: #ABD1B5;
    transform: rotate(45deg);
    left: -180px;
    bottom: 30px;
    z-index: 9999;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.header_arquivar{
    display: flex;
    width: 35%;
    font-size: 20px;
    color: #2e2e2e;
    font-weight: 700;
    margin: 5px 0 10px 0;
    z-index: 10000;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.header_suspend{
    display: flex;
    width: 60%;
    font-size: 20px;
    color: #2e2e2e;
    font-weight: 700;
    margin: 5px 0 10px 0;
    z-index: 10000;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.header_ban{
    display: flex;
    width: 65%;
    font-size: 20px;
    color: #2e2e2e;
    font-weight: 700;
    margin: 5px 0 10px 0;
    z-index: 10000;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.form_arquivar {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10001;
    margin-top: 1.5rem;
}

.form_suspenso {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10001;
    margin-top: 1.5rem;
    gap: 3vh;
}

.form_ban {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10001;
    margin-top: 1.5rem;
    gap: 3vh;
}

.input-inicio,
.input-fim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
}

.input-inicio input,
.input-fim input {
    width: 70%;
}

.motivo-ban {
    display: flex;
    flex-direction: column;
}

.btn-close-modal{
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: #51291E;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
} .btn-close-modal:hover{
    transition: 1s;
    background-color: #f24b4b;
}

.arquivar-denuncia,
.suspender-usuario,
.banir-usuario {
    border: none;
    outline: none;
    width: 10rem;
    height: 2rem;
    margin-top: 2rem;
    border-radius: 15px;
    background-color: #51291E;
    color: #EDF4ED;
    font-weight: bold;
    cursor: pointer;
} .arquivar-denuncia:hover {
    background-color: #ffe25f;
    color: #171717;
    transition: 1s;
} .suspender-usuario:hover {
    background-color: #ffa45f;
    color: #171717;
    transition: 1s;
} .banir-usuario:hover {
    background-color: #f95b5b;
    color: #171717;
    transition: 1s;
}
