* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #EDF4ED;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #ABD1B5;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #fff;
  }
  
  .login-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #EDF4ED;
    color: #51291E;
    font-size: 16px;
  }
  
  .login-container button {
    width: 100%;
    padding: 12px;
    background-color: #fff;
    color: #51291E;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .login-container button:hover {
    background-color: #51291E;
    color: #EDF4ED;
  }

  .nav_bar_login {
    display: flex;
    
   }

   .nav_bar_login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .nav_bar_login a {
    color: #EDF4ED;
    text-decoration: none;
    font-size: 16px;
  }
   
