*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDF4ED;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-admPage {
    display: flex;
}

/* SIDEBAR DA ESQUERDA */
.sidebar_esquerda{
    background-color: #2d2c2c;
    color: #ffffff;
    font-size: 12px;
    width: 15vw;
    height: 100vh;
    justify-content: center;
    z-index: 2000;
    position: fixed;
}

/* TITULO DAILYGREEN */
.header_titulo{
    background-color: #499767;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    width: 32vb;
    height: 9vh;
    font-size: 15px;
    overflow: hidden;
    user-select: none;
}

.letter{
    font-weight: bold;
    font-size: 25px;
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.letter.visible{
    opacity: 1;
    transform: translateY(0);
}

.letter.out{
    opacity: 0;
    transform: translateY(100px);
}

/* BOAS-VINDAS (NOME DO ADM) */
.name_user_adm{
    margin: 0%;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 7%;
    align-items: center;
    justify-content: center;
    display: flex;
    user-select: none;
    font-size: 13px;
    gap: 2px;
}

/* MENU NAVEGAÇÃO */
.btn_menu{
    background-color: #1a1a1a;
    color: #808080;
    border: none;
    outline: none;
    width: 100%;
    padding: 7%;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
    gap: 5px;
}

.menu_navegacao {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

/* BOTÕES MENU NAVEGAÇÃO */
.btn-list button{
    background-color: #1a1a1a;
    color: #808080;
    border-top: 0.5px solid #79B791;
    border-bottom: 0.5px solid #79B791;
    border-left: none;
    border-right: none;
    outline: none;
    width: 15vw;
    padding: 10px;
    justify-content: center;
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
} .btn-list button:hover {
    background-color: #79B791;
    color: #51291E;
    transition: 0.5s;
} .btn-list :active {
    background-color: #357d3a;
}

/* BOTÃO LOGOUT */
.logout{
    margin: 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    max-width: 100%;
    width: inherit;
    position: absolute;
    bottom: 20px;
}

.logout button{
    display: flex;
    background-color: #499767;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 6vh;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
}

.logout button:hover{
    background-color: #79B791;
    transition: 1s;
}


/* MENU PRINCIPAL */

.header_menu_principal {
    height: 9.2vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #79B791;
    z-index: 1000;
}

/* BOTOES PAGINA INICIAL */
.menu_principal {
    position: absolute;
    top: 9.2vh;
    left: 15vw;
    width: calc(100vw - 15vw);
    height: calc(100vh - 9.2vh); 
    overflow-y: auto;
    list-style-type: none;
    padding: 2%;
    box-sizing: border-box;
}

.all-buttons{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-left: 8%;
    gap: 3vw;
}

.button-row{
    display: flex;
    gap: 3vw;
}

.btn-users-list,
.btn-report-list,
.btn-suspenso-list,
.btn-banido-list{
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 200px;
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 5px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 20px;
}

.btn-users-list:hover,
.btn-report-list:hover,
.btn-suspenso-list:hover,
.btn-banido-list:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.btn-users-list:hover::before,
.btn-report-list:hover::before,
.btn-suspenso-list:hover::before,
.btn-banido-list:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.btn-users-list::before,
.btn-report-list::before,
.btn-suspenso-list::before,
.btn-banido-list::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}


/* LISTA DE USUARIOS */
.navegacao_principal{
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100%;
}

.lista-usuarios {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
}

.user {
    display: flex;
    align-items: center;
    background-color: #ABD1B5;
    color: #EDF4ED;
    gap: 1vw;
    font-size: 2vh;
    padding: 1vh;
    border-radius: 10px;
    width: 100%;
} .user:hover {
    background-color: #79B791;
    color: #51291E;
    transition: 0.5s;
} .user:active {
    background-color: #357d3a;
    transition: 0.3s;
}

.user-info {
    display: flex;
    gap: 5vw;
}



/* LISTA DE DENUNCIAS */
.no-reports{
    display: flex;
    padding-left: 500px;
    padding-top: 250px;
}

.lista-reports {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
}

.container-report {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-color: #d1abab;
    color: black;
    gap: 1vw;
    font-size: 2vh;
    padding: 1%;
    border-radius: 10px;
    width: 60vw;
    height: auto;
}

.report-row {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1vw;
} .report-row > div {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.report-row-titulo-motivo,
.report-row-status-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.report-row-id-analyse {
    display: flex;
    width: 100%;
}

.denuncia-titulo, 
.denuncia-motivo,
.denuncia-status, 
.denuncia-data, 
.button-analyse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    word-wrap: break-word; 
}

.denuncia-titulo,
.denuncia-status,
.denuncia-id {
    width: 30%;
}

.denuncia-motivo,
.denuncia-data {
    width: 70%;
}

.btn-analyse {
    flex-shrink: 0;
}

/* LISTA SUSPENSOS */


/* LISTA BANIDOS */


/* ANALISE DENUNCIAS */


/* FORM DISCARTAR DENUNCIA */
.formulario-discard,
.formulario-suspenso,
.formulario-banido{
    display: none;
    position: fixed;
    z-index: 999;
    left: 0; top: 0;
    width: 100vw;
    height: 100vh;
    background: #000000cc;
    align-items: center;
    justify-content: center;
    font-size: 17px
}

.modal_decisao{
    display: flex;
    background-color: #f4eded;
    border: 20px;
    padding: 2%;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 70vh;
    gap: 10%;
    border-radius: 5px;
    box-sizing: border-box;
}